*{ 
    margin: 0;
}

body{
    height: 100vh;
    width: 99vw;
    overflow-x:hidden;
    background-color: black;
}
.mainbarra{
    height: 28vh;
    width: 100vw ;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    
}
.menubarra{
    height: 50px;
    width: 100vw;
    box-sizing: border-box;
}
.configmenubarra{
    height: 30px;
    width: 40px;
    position: relative;
    top: 20px;
    left: 200px;
    display: inline;
    margin-left: 0px;
    margin-right: 100px;
    top: 10px;
    font-size: 30px;
    color: white;
    

}


.container{
    
    height: 100vh;
    box-sizing: border-box;
    background-image: url(./kratos.jpg);
    background-size: cover;
    color: white;
    
}
h1{
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 30px;
    position: relative;
    left: 40vw;
    top: 50px;
}
p{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    position: relative;
    top: 60px;
}
.boxrodape{
    height: 30vh;
    
    position: relative;
    top: 70vh;
    box-sizing: border-box;

}
.logo{
    
    background-image: url(./logo\ god.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 100px;
    top: 50px;
    height: 15vh;
    width: 15vw;
    box-sizing: border-box;
    
}



.godofwar{
    height: 20vh;
    width: 70vw;
    position: absolute;
    top:40px;
    left: 300px;
    font-size: 18vh;
    color: white;
       
}
